@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@300;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
    height: 90vh;
    display:flex ;
    justify-content: space-between;
    flex-direction: column;
    
}
h6{
    display: none;
    /*display: init
    responsivo*/
}
.menu{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;

    width: 100%;
    height: 18vh;
    background-color: white;
    padding-left: 3rem;
    position: sticky;
    top: 0;

}


.navHeader{
    width: 100%;
    display: flex;
    justify-content: end;
}

.listHeader{

    width: 44%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}
.listItem{
    font-size: 2rem;
    text-transform: capitalize;
}
.listItem:hover{
    font-size: 110%;
    font-weight: bold;
}
#listItemBold{
    font-weight: bold;
    text-transform: capitalize;
}
#listItemBold:hover{
    font-size: 110%;
}
main{
    height: 155vh;
    padding-top: 2rem;
}
.portflowImg{
    font-family: 'Montserrat', sans-serif;
    background-image: url(flowimg2.png);
    background-repeat: no-repeat;
    height: 75vh;
    background-position: center;
}  

.textFlow{
    height: 71vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    padding-left: 2rem;
    font-size: 5rem;
}
.principalText{
    padding-left: 2rem;
    text-transform: capitalize;
}
#subText{
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-left: 2rem;
    font-weight: lighter;
    text-transform:uppercase;

}
#subText:hover
{
    font-size: 55%;
    text-decoration: underline;
}

.gallery{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;;
    height: 140vh;

}
.galleryImgs{
    width: 24%;
    margin-top: 1rem;
    padding-left: 2rem;
}
.galleryImgs:hover{
    transform: scale(1.1); 
}
footer{
    height: 10vh;
    background-color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;


}

.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 100%;
    width: 180vh;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
}
.footerImgs{

    display: flex;
    justify-content: space-evenly;
    width: 40vw;

    padding-right: 1rem;

}
.footerText{
display: flex;
justify-content: space-around;
text-align: center;
width: 40vw;
   
}
.copyright{
    text-transform: capitalize;
    font-weight: bold;
    width: 20vw;
    align-items: center;
}
.textVnw{
    text-transform: capitalize;
    display: flex;
    width: 80vw;
    flex-direction: column;
    padding-left: 1rem;


}
